@import '../variables';
@import '../mixins';

.c-form-control-layout {
  // Let the height expand as needed
  @include FormControlSize(auto, $includeAlternates: true);
}

.c-form-control-layout__childrenWrapper {
  position: relative;
}

/**
 * 1. Account for inner box-shadow style border
 */

.c-form-control-layout--group {
  // Match just the regular drop shadow of inputs
  @include FormControlDefaultShadow;
  display:     flex;
  align-items: center;
  padding:     1px; /* 1 */

  .c-form-control-layout__childrenWrapper {
    flex-grow: 1;
  }

  .c-form-control-layout__prepend,
  .c-form-control-layout__append {
    flex-shrink: 0;
    height:      $FormControlHeight - 2px; /* 1 */
    line-height: $FontSize;

    &:disabled {
      background-color: $FormBackgroundDisabledColor;
      color:            $FormControlDisabledColor; // ensures established contrast
    }

    // This is the only way to target specific components to override styling
    &.c-form-label,
    &.c-text {
      white-space:      nowrap;
      margin-bottom:    0;
      padding:          $FormControlPadding;
      border:           none;
      background-color: shadeOrTint($FormBackgroundDisabledColor, 0, 3%);
      line-height:      $FontSize;
    }
  }

  //
  // Borders

  .c-form-control-layout__prepend {
    border-right: 1px solid $FormBorderColor;
  }

  .c-form-control-layout__append {
    border-left: 1px solid $FormBorderColor;
  }

  //
  // Compressed alterations

  &.c-form-control-layout--compressed {
    .c-form-control-layout__prepend,
    .c-form-control-layout__append {
      height: $FormControlCompressedHeight - 2px; /* 1 */

      &.c-form-label,
      &.c-text {
        padding-top:    $FormControlCompressedPadding;
        padding-bottom: $FormControlCompressedPadding;
      }
    }
  }
}
