.c-form-control-layout-custom-icon {
  pointer-events: none;

  .c-form-control-layout-custom-icon__icon {
    transform: translateY(-1px);
  }
}

.c-form-control-layout-custom-icon--clickable {
  @include size($Size);

  pointer-events: all;

  .c-form-control-layout-custom-icon__icon {
    vertical-align: baseline;
    transform:      none;
  }

  &:focus {
    @include FocusRing;
  }

  &:disabled {
    cursor: not-allowed;
    color:  $FormControlDisabledColor;
  }
}
