.c-form-control-layout-icons {
  pointer-events: none;
  position:       absolute;
  top:            0;
  bottom:         0;
  left:           $FormControlPadding;
  display:        flex;
  align-items:    center;

  > * + * {
    margin-left: $FormControlPadding / 2;
  }
}

.c-form-control-layout-icons--right {
  left:  auto;
  right: $FormControlPadding;
}

// If the control is disabled, change the color of the icons
*:disabled + .c-form-control-layout-icons {
  cursor: not-allowed;
  color:  $FormControlDisabledColor;
}
