@mixin FormControlLayoutPadding($numOfIcons, $side: 'right') {
  $iconPaddingStart: $SizeXXL;

  @if variable-exists(numOfIcons) == false {
    @error '$numOfIcons:integer (1-3) must be provided to @mixin FormControlLayoutPadding().';
  } @else if $numOfIcons == 1 {
    padding-#{$side}: $iconPaddingStart;
  } @else if $numOfIcons == 2 {
    padding-#{$side}: $iconPaddingStart + $Size;
  } @else if $numOfIcons == 3 {
    padding-#{$side}: $iconPaddingStart + ($Size * 2) + $SizeS;
  }
}

$FocusRingColor: rgba($ColorPrimary, .3);
$FocusRingAnimStartColor: rgba($ColorPrimary, 0);

// Sizing
$softFocusRingSize: 2px;
$softFocusRingSizeLarge: 4px;

@mixin FocusRing($size: 'small') {
  @if $size == 'large' {
    animation: $AnimSpeedSlow $AnimSlightResistance 1 normal forwards focusRingAnimateLarge;
  } @else {
    animation: $AnimSpeedSlow $AnimSlightResistance 1 normal forwards focusRingAnimate;
  }
}

@mixin FormControlLayoutClearIcon($iconClass) {
  $clearSize: $Size;
  @include size($clearSize);

  pointer-events:   all;
  background-color: lightOrDarkTheme($ColorMediumShade, $ColorDarkShade);
  border-radius:    $clearSize;
  line-height:      0; // ensures the icon stays vertically centered

  &:focus {
    @include FocusRing;
  }

  #{$iconClass} {
    @include size($SizeS);
    fill:         $ColorEmptyShade;
    stroke:       $ColorEmptyShade;
    stroke-width: 2px; // increase thickness of icon at such a small size
  }
}

// Deprecated mixins below. This was changed in Nov. 2018

@mixin FormControlLayout__padding($numOfIcons, $side: 'right') { // sass-lint:disable-line mixin-name-format
  @include FormControlLayoutPadding($numOfIcons, $side: 'right');
  @warn '@mixin FormControlLayout__padding is deprecated, please use FormControlLayoutPadding instead';
}
