// Sizing
$FormMaxWidth: $SizeXXL * 10 !default;
$FormControlHeight: $SizeXXL !default;
$FormControlCompressedHeight: $SizeXL !default;
$FormControlPadding: $SizeM !default;
$FormControlCompressedPadding: $SizeS !default;

$RadioSize: $Size !default;
$CheckBoxSize: $Size !default;

$SwitchHeight: $Size * 1.25 !default;
$SwitchWidth: ($Size * 2.5) + $SizeXS !default;
$SwitchThumbSize: $SwitchHeight !default;
$SwitchIconHeight: $Size !default;

// Coloring
$FormBackgroundColor: tintOrShade($ColorLightestShade, 60%, 40%) !default;
$FormBackgroundDisabledColor: darken($ColorLightestShade, 2%) !default;
$FormBorderColor: transparentize($ColorFullShade, .9) !default;
$FormBorderDisabledColor: transparentize($ColorFullShade, .92) !default;
$FormCustomControlDisabledIconColor: shadeOrTint($ColorMediumShade, 38%, 48.5%) !default; // exact 508c foreground for $ColorLightShade
$FormControlDisabledColor: $ColorMediumShade !default;
$FormControlBoxShadow: 0 1px 1px -1px transparentize($ShadowColor, .8), 0 3px 2px -2px transparentize($ShadowColor, .8);

//** DEPRECATED **//
//** DEPRECATED **//
//** DEPRECATED **//
//** DEPRECATED **//

@if variable-exists(FormControlHeight--compressed) {
  $FormControlCompressedHeight: $FormControlHeightCompressed !global;
  @warn '`$FormControlHeightCompressed` is deprecated. Please use `$FormControlCompressedHeight` instead';
}

@if variable-exists(FormControlPadding--compressed) {
  $FormControlCompressedPadding: $FormControlPaddingCompressed !global;
  @warn '`$FormControlPaddingCompressed` is deprecated. Please use `$FormControlCompressedPadding` instead';
}

@if variable-exists(FormBorderColorDisabled) {
  $FormBorderDisabledColor: $FormBorderColorDisabled !global;
  @warn '`$FormBorderColorDisabled` is deprecated. Please use `$FormBorderDisabledColor` instead';
}
