/**
 * 1. Accounts for the border
 */
.c-badge-extend {
  font-size:        $FontSizeXS;
  font-weight:      $FontWeightMedium;
  line-height:      $Size + 2px; /* 1 */
  display:          inline-block;
  text-decoration:  none;
  box-sizing:       content-box;
  border-radius:    $BorderRadius / 2;
  border:           solid 1px transparent;
  padding:          0 $SizeS;
  background-color: transparent;
  white-space:      nowrap;
  vertical-align:   middle;
  text-align:       center;
  overflow:         hidden;

  + .c-badge-extend {
    margin-left: $SizeXS;
  }

  .c-badge-extend__content {
    display:     flex;
    align-items: center;
    overflow:    hidden;
  }

  .c-badge-extend__text {
    overflow:      hidden;
    text-overflow: ellipsis;
    flex:          1 1 auto;
  }

  &:focus {
    @include FocusRing('small');
  }

  .c-badge-extend__icon {
    flex:         0 0 auto;
    margin-right: $SizeXS;

    &:focus {
      background-color: transparentize($ColorGhost, .2);
      color:            #000; // sass-lint:disable-line no-color-literals
      border-radius:    2px;
    }
  }

  &.c-badge-extend--iconRight .c-badge-extend__content {
    flex-direction: row-reverse;

    .c-badge-extend__icon {
      margin-left:  $SizeXS;
      margin-right: 0;
    }
  }

  &--hide-label {
    width:         14px;
    height:        4px;
    border-radius: 50px;
  }
}


// Modifier naming and colors.
$badgeTypes: (
                     default: $ColorLightShade,
                     info: $ColorInfo,
                     primary: $ColorPrimary,
                     secondary: $ColorSecondary,
                     warning: $ColorWarning,
                     danger: $ColorDanger,
                     accent: $ColorAccent,
             );

@each $name, $color in $badgeTypes {
  .c-badge-extend--#{$name} {
    // sass-lint:disable-block no-color-literals
    background-color: $color;
    @if (lightness($color) > 50) {
      color: #000;
    } @else {
      color: #FFF;
    }
  }
}

// Hollow has a border and is mostly used for autocompleters.
.c-badge-extend--hollow {
  background-color: $ColorEmptyShade;
  border-color:     $BorderColor;
  color:            $TextColor;
}
