/**
 * 1. Accounts for the border
 */
.softBadge {
  font-size: $softFontSizeXS;
  font-weight: $softFontWeightMedium;
  line-height: $softSize + 2px; /* 1 */
  display: inline-block;
  text-decoration: none;
  box-sizing: content-box;
  border-radius: $softBorderRadius / 2;
  border: solid 1px transparent;
  padding: 0 $softSizeS;
  background-color: transparent;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;

  + .softBadge {
    margin-left: $softSizeXS;
  }

  .softBadge__content {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .softBadge__text {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 auto;
  }

  &:focus {
    @include softFocusRing('small');
  }

  .softBadge__icon {
    flex: 0 0 auto;
    margin-right: $softSizeXS;

    &:focus {
      background-color: transparentize($softColorGhost, .2);
      color: #000; // sass-lint:disable-line no-color-literals
      border-radius: 2px;
    }
  }

  &.softBadge--iconRight .softBadge__content {
    flex-direction: row-reverse;

    .softBadge__icon {
      margin-left: $softSizeXS;
      margin-right: 0;
    }
  }

  &--hide-label {
    width: 14px;
    height: 4px;
    border-radius: 50px;
  }
}


// Modifier naming and colors.
$badgeTypes: (
        default: $softColorLightShade,
        info: $softColorInfo,
        primary: tintOrShade(desaturate($softColorPrimary, 30%), 30%, 10%),
        secondary: tintOrShade(desaturate($softColorSecondary, 40%), 40%, 0%),
        warning: tintOrShade(desaturate($softColorWarning, 30%), 20%, 0%),
        danger: tintOrShade(desaturate($softColorDanger, 0%), 30%, 10%),
        accent: tintOrShade(desaturate($softColorAccent, 40%), 40%, 0%),
);

@each $name, $color in $badgeTypes {
  .softBadge--#{$name} {
    // sass-lint:disable-block no-color-literals
    background-color: $color;
    @if (lightness($color) > 50) {
      color: #000;
    } @else {
      color: #FFF;
    }
  }
}

// Hollow has a border and is mostly used for autocompleters.
.softBadge--hollow {
  background-color: $softColorEmptyShade;
  border-color: $softBorderColor;
  color: $softTextColor;
}
