.c-link {
  @include Link;
}

$textColors: (
                     subdued: $ColorDarkShade,
                     primary: $ColorPrimary,
                     secondary: $ColorSecondary,
                     accent: $ColorAccent,
                     warning: $ColorWarning,
                     danger: $ColorDanger,
                     text: $TextColor,
                     ghost: $ColorGhost,
             );

// Create color modifiers based on the map
@each $name, $color in $textColors {
  .c-link.c-link--#{$name} {
    color: $color;

    &:hover {
      color: darken($color, 10%);
    }

    &:focus {
      outline:          solid 3px transparentize($color, .9);
      background-color: transparentize($color, .9);
    }
  }
}
