.c-radio {
  position: relative;

  .c-radio__input {
    @include ScreenReaderOnly;

    ~ .c-radio__label {
      display:      block;
      padding-left: ($RadioSize * 1.5);
      line-height:  $SizeL;
      font-size:    $FontSizeS;
      position:     relative;
      z-index:      2;
      cursor:       pointer;
    }

    + .c-radio__circle {
      @include CustomControl($type: 'round', $size: $RadioSize);

      display:  inline-block;
      position: absolute;
      left:     0;
      top:      (($SizeL - $RadioSize) / 2) - 1px;
    }

    &:checked {
      + .c-radio__circle {
        @include CustomControlSelected($type: 'dot');
      }
    }

    &[disabled] {
      //sass-lint:disable no-important
      cursor: not-allowed !important;

      ~ .c-radio__label {
        color:  $FormControlDisabledColor;
        cursor: not-allowed !important;
      }

      + .c-radio__circle {
        @include CustomControlDisabled;
      }
    }

    &:checked[disabled] {
      + .c-radio__circle {
        @include CustomControlDisabled($type: 'dot');
      }
    }

    &:focus,
    &:active:not(:disabled) {
      + .c-radio__circle {
        @include CustomControlFocused;
      }
    }
  }

  /**
   * 1. Float above the visual radio and match its dimension, so that when users try to click it
   *    they actually click this input.
   */

  &.c-radio--inList,
  &.c-radio--noLabel {
    min-height: $RadioSize;
    min-width:  $RadioSize;

    .c-radio__circle {
      top: 0;
    }

    .c-radio__input {
      @include size($RadioSize); /* 1 */

      position: absolute; /* 1 */
      opacity:  0; /* 1 */
      z-index:  1; /* 1 */
      margin:   0; /* 1 */
      left:     0; /* 1 */
      cursor:   pointer;
    }
  }
}
