$FontFamily: "Open Sans", "Helvetica Neue", sans-serif;
$FontWeightBold: bold;
$FontWeightDefault: 700;
$BackgroundColor: #f6f6f6;
$TextColor: #333;
$BorderRadius: 3px;
$BorderRadiusFluid: 9px;
$BorderWidth: 1px;
$Transition: all .2s;
$Rounded: 15px;
$MarginBottom: 20px;
$ShadowRaised: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
$Shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
// Font size
$FontSizeIcon: 30px;
$FtzTitleSuper: 28px;
$FtzTitle: 20px;
$FontSize-2: 16px;
$FontSize: 14px;
$FontSize-m: 12px;
// Padding
$PaddingDefault: 14px;
$PaddingGran: 30px;
$Padding-xxs: 3px;
$Padding-xs: 5px;
$Padding-s: 8px;
$Padding-m: 12px;
$Padding-l: 15px;
$Padding-xl: 20px;
$Padding: 6px $PaddingDefault;
// Margin
$Margin-separator: 24px;
$Margin: 16px;
$Margin-simple: $Margin / 2;
// Colors
$ColorDark: #333333;
$ColorDark-2: #747879;
$ColorWhite: #FFFFFF;
$ColorPrimary: #007ad9;
$ColorInfo: #007ad9;
$ColorSecondary: #f4f4f4;
$ColorSuccess: #34A835;
$ColorWarning: #ffba01;
$ColorDanger: #e91224;
$ColorMuted: #6c757d;
// Colors Hover
$ColorPrimaryHover: #116fbf;
$ColorInfoHover: #116fbf;
$ColorDangerHover: #c01120;
$ColorSuccessHover: #107D11;
$ColorSecondaryHover: #c8c8c8;
//BEM
$BEMElementSeparator: "__";
$BEMModifierSeparator: "--";
// Z-Index
$ZIndexLevel0: 0;
$ZIndexLevel1: 1000;
$ZIndexLevel2: 2000;
$ZIndexLevel3: 3000;
$ZIndexLevel4: 4000;
$ZIndexLevel5: 5000;
$ZIndexLevel6: 6000;
$ZIndexLevel7: 7000;
$ZIndexLevel8: 8000;
$ZIndexLevel9: 9000;
// POPOVER
$Triangle: 10px;
//BORDER
$BorderColor: $ColorWhite;
