$FontFamily: "Open Sans", "Helvetica Neue", sans-serif;
$FontWeightBold: bold;
$FontWeightDefault: 700;
$BackgroundColor: #f6f6f6;
$TextColor: #333;
$BorderRadius: 3px;
$BorderRadiusFluid: 9px;
$BorderWidth: 1px;
$Transition: all .2s;
$Rounded: 15px;
$MarginBottom: 20px;
$ShadowRaised: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
$Shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
// Font size
$FontSizeIcon: 30px;
$FtzTitleSuper: 28px;
$FtzTitle: 20px;
$FontSize-2: 16px;
$FontSize: 14px;
$FontSize-m: 12px;
// Padding
$PaddingDefault: 14px;
$PaddingGran: 30px;
$Padding-xxs: 3px;
$Padding-xs: 5px;
$Padding-s: 8px;
$Padding-m: 12px;
$Padding-l: 15px;
$Padding-xl: 20px;
$Padding: 6px $PaddingDefault;
// Margin
$Margin-separator: 24px;
$Margin: 16px;
$Margin-simple: $Margin / 2;
// Colors
$ColorDark: #333333;
$ColorDark-2: #747879;
$ColorWhite: #FFFFFF;
$ColorPrimary: #007ad9;
$ColorInfo: #007ad9;
$ColorSecondary: #f4f4f4;
$ColorSuccess: #34A835;
$ColorWarning: #ffba01;
$ColorDanger: #e91224;
$ColorMuted: #6c757d;
$ColorAccent: #DD0A73 !default;
$ColorHighlight: #FFFBF1 !default;
$ColorGhost: #FFF !default;
$ColorInfo: #039be5 !default;
$ColorContext: #e0e0e0 !default;
$ColorDark: #3C4252 !default;
$ColorLight: #e0ebf4;
// Grays
$ColorEmptyShade: #FFF !default;
$ColorLightestShade: #F5F7FA !default;
$ColorLightShade: #D3DAE6 !default;
$ColorMediumShade: #98A2B3 !default;
$ColorDarkShade: #69707D !default;
$ColorDarkestShade: #343741 !default;
$ColorFullShade: #000 !default;

$TextColor: $ColorDarkestShade !default;
$LinkColor: $ColorPrimary !default;

// Visualization colors

$ColorVis0: #00B3A4 !default;
$ColorVis1: #3185FC !default;
$ColorVis2: #DB1374 !default;
$ColorVis3: #490092 !default;
$ColorVis4: #FEB6DB !default;
$ColorVis5: #E6C220 !default;
$ColorVis6: #BFA180 !default;
$ColorVis7: #F98510 !default;
$ColorVis8: #461A0A !default;
$ColorVis9: #920000 !default;

// Code

$CodeBlockBackgroundColor: $ColorLightestShade !default;
$CodeBlockColor: $TextColor !default;
$CodeBlockSelectedBackgroundColor: inherit !default;
$CodeBlockCommentColor: #998 !default;
$CodeBlockSelectorTagColor: inherit !default;
$CodeBlockStringColor: #DD0A73 !default;
$CodeBlockNumberColor: #00A69B !default;
$CodeBlockKeywordColor: #333 !default;
$CodeBlockFunctionTitleColor: inherit !default;
$CodeBlockTagColor: #0079A5 !default;
$CodeBlockNameColor: inherit !default;
$CodeBlockTypeColor: #0079A5 !default;
$CodeBlockAttributeColor: inherit !default;
$CodeBlockSymbolColor: #990073 !default;
$CodeBlockParamsColor: inherit !default;
$CodeBlockMetaColor: #999 !default;
$CodeBlockTitleColor: #900 !default;
$CodeBlockRegexpColor: #009926 !default;
$CodeBlockBuiltInColor: #0086B3 !default;
$CodeBlockSectionColor: #FFC66D !default;
$CodeBlockAdditionBackgroundColor: #DFD !default;
$CodeBlockAdditionColor: inherit !default;
$CodeBlockDeletionBackgroundColor: #FDD !default;
$CodeBlockDeletionColor: inherit !default;
$CodeBlockSelectorClassColor: inherit !default;
$CodeBlockSelectorIdColor: inherit !default;

//Gray
$ColorEmptyShade: #FFF !default;
$ColorLightestShade: #F5F7FA !default;
$ColorLightShade: #D3DAE6 !default;
$ColorMediumShade: #98A2B3 !default;
$ColorDarkShade: #69707D !default;
$ColorDarkestShade: #343741 !default;
$ColorFullShade: #000 !default;

// Colors Hover
$ColorPrimaryHover: #116fbf;
$ColorInfoHover: #116fbf;
$ColorDangerHover: #c01120;
$ColorSuccessHover: #107D11;
$ColorSecondaryHover: #c8c8c8;
//BEM
$BEMElementSeparator: "__";
$BEMModifierSeparator: "--";
// Z-Index
$ZIndexLevel0: 0;
$ZIndexLevel1: 1000;
$ZIndexLevel2: 2000;
$ZIndexLevel3: 3000;
$ZIndexLevel4: 4000;
$ZIndexLevel5: 5000;
$ZIndexLevel6: 6000;
$ZIndexLevel7: 7000;
$ZIndexLevel8: 8000;
$ZIndexLevel9: 9000;
// POPOVER
$Triangle: 10px;
//BORDER
// SIZE
$Size: 16px !default;

$SizeXS: $Size * .25 !default;
$SizeS: $Size * .5 !default;
$SizeM: $Size * .75 !default;
$SizeL: $Size * 1.5 !default;
$SizeXL: $Size * 2 !default;
$SizeXXL: $Size * 2.5 !default;
$SizeXXXL: $Size * 3 !default;
$TextScale: 2.25, 1.75, 1.25, 1.125, 1, .875, .75 !default;

$FontSize: $Size !default; // 5th position in scale

$FontSizeXS: $FontSize * nth($TextScale, 7) !default; // 12px
$FontSizeS: $FontSize * nth($TextScale, 6) !default; // 14px
$FontSizeM: $FontSize * nth($TextScale, 4) !default; // 18px
$FontSizeL: $FontSize * nth($TextScale, 3) !default; // 20px
$FontSizeXL: $FontSize * nth($TextScale, 2) !default; // 28px
$FontSizeXXL: $FontSize * nth($TextScale, 1) !default; // 36px
$spacerSizes: (
                      xs: $SizeXS,
                      s: $SizeS,
                      m: $Size,
                      l: $SizeL,
                      xl: $SizeXL,
                      xxl: $SizeXXL,
              );
// Animations
$AnimSlightBounce: cubic-bezier(.34, 1.61, .7, 1) !default;
$AnimSlightResistance: cubic-bezier(.694, .0482, .335, 1) !default;
$AnimSpeedExtraFast: 90ms !default;
$AnimSpeedFast: 150ms !default;
$AnimSpeedNormal: 250ms !default;
$AnimSpeedSlow: 350ms !default;
$AnimSpeedExtraSlow: 500ms !default;
$ZLevel0: 0;
$ZLevel1: 1000;
$ZLevel2: 2000;
$ZLevel3: 3000;
$ZLevel4: 4000;
$ZLevel5: 5000;
$ZLevel6: 6000;
$ZLevel7: 7000;
$ZLevel8: 8000;
$ZLevel9: 9000;

$ZContent: $ZLevel0;
$ZHeader: $ZLevel1;
$ZContentMenu: $ZLevel2;
$ZNavigation: $ZLevel4;
$ZMask: $ZLevel6;
$ZModal: $ZLevel8;
$ZComboBox: $ZModal + 1;
$ZToastList: $ZLevel9;


// PROGRESS
$ProgressSizes: (
                        xs: $SizeXS / 2,
                        s: $SizeXS,
                        m: $SizeS,
                        l: $Size,
                );
$ProgressColors: (
                         primary: $ColorPrimary,
                         secondary: $ColorSecondary,
                         warning: $ColorWarning,
                         danger: $ColorDanger,
                         accent: $ColorAccent,
                         subdued: $ColorMediumShade,
                 );
$ColorsType: (
                     primary: $ColorPrimary,
                     light: $ColorLight,
                     secondary: $ColorSecondary,
                     warning: $ColorWarning,
                     info: $ColorInfo,
                     danger: $ColorDanger,
                     accent: $ColorAccent,
                     subdued: $ColorMediumShade,
             );
// TABS
$LineHeight: 1.5;
$TabFontSize: $FontSize !default;
$TabFontSizeS: $FontSizeS !default;
$FocusBackgroundColor: tintOrShade($ColorPrimary, 90%, 50%) !default;
$PageBackgroundColor: tintOrShade($ColorLightestShade, 50%, 30%) !default;
$BorderWidthThin: 1px !default;
$BorderWidthThick: 2px !default;

$BorderColor: $ColorLightShade !default;
$BorderRadius: 4px !default;
$BorderThick: $BorderWidthThick solid $BorderColor !default;
$BorderThin: $BorderWidthThin solid $BorderColor !default;
$BorderEditable: $BorderWidthThick dotted $BorderColor !default;
$ButtonMinWidth: $Size * 7 !default;
$ScrollBar: $Size !default;
$ScrollBarCorner: $SizeS * .75 !default;

$FontWeightLight: 300 !default;
$FontWeightRegular: 400 !default;
$FontWeightMedium: 500 !default;
$FontWeightSemiBold: 600 !default;
$FontWeightBold: 700 !default;
$TitleColor: shadeOrTint($TextColor, 50%, 0%) !default;
// Shadows
// Transparency only affects the use of variable this outside of the shadow mixins (borders)
$ShadowColor: $ColorMediumShade !default;
$ShadowColorLarge: shade(saturate($ColorMediumShade, 25%), 50%) !default;
$Breakpoints: (
                      'xs': 0,
                      's': 575px,
                      'm': 768px,
                      'l': 992px,
                      'xl': 1200px
              ) !default;

$BreakpointKeys: map-keys($Breakpoints);

$ButtonHeight: $SizeXXL;
$ButtonHeightSmall: $SizeXL;
$ButtonHeightLarge: $SizeXXXL;

$ButtonColorDisabled: tintOrShade($TextColor, 70%, 70%);
$ButtonToggleBorderColor: $ColorLightShade;
