@include bem_block(c-jumbotron) {
  background-color: #e4e7ea;
  border-radius:    5px;
  padding:          32px 16px;
  @include bem_element(title) {
    font-size:     72px;
    font-weight:   300;
    line-height:   1.2;
    margin-bottom: $MarginBottom;
  }
  @include bem_element(description) {
    font-size:     18px;
    font-weight:   300;
    margin-bottom: $MarginBottom;
  }
  @include bem_element(subDescription) {
    margin-top:    $MarginBottom;
    margin-bottom: $MarginBottom;
  }
  @media (min-width: 576px) {
    padding: 64px 32px;
  }
}
