@include bem_block(c-label) {
  display: inline-flex;
  @include colorBg(primary);
  padding: $Padding-xs;
  border-radius: $BorderRadius;
  @include bem_modified(compact){
    padding: $Padding-xxs;
    font-size: $FontSize-m;
  }
}
