@include bem_block(c-widget-number) {
  @include bem_element(title) {
    margin-bottom: .5rem;
    font-weight:   500;
    line-height:   1.2;
    font-size:     16px;
  }
  @include bem_element(span) {
    font-size:     14px;
  }
  @include bem_element(number) {
    font-size: 28px;
    padding-top: 16px;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
  }
}
