.c-field-text {
  @include FormControlStyle;
  @include FormControlWithIcon($isIconOptional: true);
  @include FormControlIsLoading;

  /* Invalid state normally comes from :invalid, but several components
  /* like EuiDatePicker need it toggled through an extra class.
  */
  &.c-field-text-isInvalid {
    @include FormControlInvalidStyle;
  }

  &.c-field-text--default {
    border-bottom: 1px solid gainsboro;
    box-shadow:    none;
    background:    none;
  }
}
