/**
 * 1. Focused state overrides invalid state.
 */
.c-form-label {
  @include FontSizeXS;
  display:       inline-block;
  margin-bottom: $SizeXS;
  transition:    all $AnimSpeedFast $AnimSlightResistance;
  color:         $TitleColor;
  font-weight:   $FontWeightSemiBold;

  &.c-form-label-isInvalid {
    color: $ColorDanger; /* 1 */
  }

  &.c-form-label-isFocused {
    color: $ColorPrimary; /* 1 */
  }
}

.c-form-label[for] {
  cursor: pointer;
}
