@import '../form_control_layout/mixins';

.softFilePicker {
  .softFilePicker__wrap {
    // Auto means the height isn't set to a fixed size
    @include softFormControlSize(auto);

    position: relative;
    display: inline-block;

    @at-root {
      .softFilePicker--compressed#{&} {
        height: $softSizeXL;
      }
    }
  }

  // The input is an invisiable dropzone / button
  .softFilePicker__input {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }

    &:hover:disabled {
      cursor: not-allowed;
    }

    &:disabled ~ .softFilePicker__prompt {
      color: $softColorMediumShade;
    }
  }

  .softFilePicker__icon {
    margin-bottom: $softSize;
    transition: transform $softAnimSpeedFast $softAnimSlightResistance;

    @at-root {
      .softFilePicker--compressed#{&} {
        // sass-lint:disable-block no-important
        position: absolute;
        top: $softSizeS;
        left: $softSizeM;
        transform: scale(1) !important; // don't scale icon on hover
      }
    }
  }

  /**
   * 1. Don't block the user from dropping files onto the filepicker.
   * 2. Put prompt on top of input, so the clear button can intercept the click.
   * 3. Ensure space for import icon and clear button (only if it has files)
   * 4. Delay focus gradient or else it will only partially transition while file chooser opens
   */
  .softFilePicker__prompt {
    @include softFormControlDefaultShadow;

    pointer-events: none; /* 1 */
    position: relative; /* 2 */
    z-index: 1; /* 2 */
    display: block;
    padding: $softSizeL;
    text-align: center;

    // sass-lint:disable-block indentation
    transition: box-shadow $softAnimSpeedFast ease-in,
    background-color $softAnimSpeedFast ease-in,
    background-image $softAnimSpeedFast ease-in,
    background-size $softAnimSpeedFast ease-in $softAnimSpeedFast; /* 4 */

    // sass-lint:disable-block mixins-before-declarations
    @at-root {
      .softFilePicker--compressed#{&} {
        height: $softFormControlCompressedHeight;
        padding: $softFormControlCompressedPadding;
        @include softFormControlWithIcon; /* 3 */
        text-align: left;
      }
    }
  }

  .softFilePicker__promptText {
    @include softFontSizeS;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @at-root {
      // make compressed prompt look like placeholder
      .softFilePicker--compressed#{&} {
        color: $softColorMediumShade;
        line-height: $softSize;
      }
    }
  }

  /**
   * 1. Undo the pointer-events: none applied to the enclosing prompt.
   */
  .softFilePicker__clearButton {
    pointer-events: auto; /* 1 */

    // sass-lint:disable-block mixins-before-declarations
    @at-root {
      .softFilePicker--compressed#{&} {
        @include softFormControlLayoutClearIcon('.softFilePicker__clearIcon');
        position: absolute;
        top: $softSizeM / 2;
        right: $softSizeM;
      }
    }
  }

  // Hover and focus
  .softFilePicker__input:hover:not(:disabled) + .softFilePicker__prompt,
  .softFilePicker__input:focus + .softFilePicker__prompt {
    .softFilePicker__promptText {
      // Adding the underline to the prompt text ensures the underline
      // color is the same as the current text color
      text-decoration: underline;
    }

    .softFilePicker__icon {
      transform: scale(1.1);
    }
  }

  // Focus
  .softFilePicker__input:focus + .softFilePicker__prompt {
    @include softFormControlFocusStyle;
  }

  // Disabled
  .softFilePicker__input:disabled + .softFilePicker__prompt {
    @include softFormControlDisabledStyle;
  }

  &.softFilePicker-hasFiles.softFilePicker--compressed .softFilePicker__prompt {
    @include softFormControlWithIcon(false, 'right'); /* 3 */
  }

  // When the filepicker has files in it, but not in compressed mode
  &:not(.softFilePicker--compressed).softFilePicker-hasFiles .softFilePicker__promptText {
    font-weight: $softFontWeightBold;
  }

  // When the filepicker has files in it, AND in compressed mode
  &.softFilePicker--compressed.softFilePicker-hasFiles .softFilePicker__promptText {
    color: $softTextColor;
  }

  // When you are dragging files over the dropzone
  &.softFilePicker__showDrop .softFilePicker__prompt {
    @include softFormControlFocusStyle;

    .softFilePicker__promptText {
      text-decoration: underline;
    }

    .softFilePicker__icon {
      transform: scale(1.1);
      color: $softColorPrimary;
    }
  }
}
