// Prefixes are unique in this file
// sass-lint:disable no-vendor-prefixes

@mixin RangeTrackSize {
  height:     $RangeTrackHeight;
  transition: all $AnimSpeedNormal ease-in;
  width:      $RangeTrackWidth;
}

@mixin RangeTrackPerBrowser {
  &::-webkit-slider-runnable-track { @content; }
  &::-moz-range-track { @content; }
  &::-ms-fill-lower { @content; }
  &::-ms-fill-upper { @content; }
}

@mixin RangeThumbStyle {
  cursor:       pointer;
  border-color: $RangeThumbBorderColor;
  padding:      0;
  height:       $RangeThumbHeight;
  width:        $RangeThumbWidth;
}

@mixin RangeThumbPerBrowser {
  &::-webkit-slider-thumb { @content; }
  &::-moz-range-thumb { @content; }
  &::-ms-thumb { @content; }
}

// Deprecated mixins below. This was changed in Nov. 2018

@mixin Range__trackSize { // sass-lint:disable-line mixin-name-format
  @include RangeTrackSize;
  @warn '@mixin Range__trackSize is deprecated, please use RangeTrackSize instead';
}

@mixin Range__track__perBrowser { // sass-lint:disable-line mixin-name-format
  @include RangeTrackPerBrowser;
  @warn '@mixin Range__track__perBrowser is deprecated, please use RangeTrackPerBrowser instead';
}

@mixin Range__thumb__perBrowser { // sass-lint:disable-line mixin-name-format
  @include RangeThumbPerBrowser;
  @warn '@mixin Range__thumb__perBrowser is deprecated, please use RangeThumbPerBrowser instead';
}
