// Prefixes are unique in this file
// sass-lint:disable no-vendor-prefixes

@mixin softRangeTrackSize {
  height: $softRangeTrackHeight;
  transition: all $softAnimSpeedNormal ease-in;
  width: $softRangeTrackWidth;
}

@mixin softRangeTrackPerBrowser {
  &::-webkit-slider-runnable-track { @content; }
  &::-moz-range-track { @content; }
  &::-ms-fill-lower { @content; }
  &::-ms-fill-upper { @content; }
}

@mixin softRangeThumbStyle {
  cursor: pointer;
  border-color: $softRangeThumbBorderColor;
  padding: 0;
  height: $softRangeThumbHeight;
  width: $softRangeThumbWidth;
}

@mixin softRangeThumbPerBrowser {
  &::-webkit-slider-thumb { @content; }
  &::-moz-range-thumb { @content; }
  &::-ms-thumb { @content; }
}

// Deprecated mixins below. This was changed in Nov. 2018

@mixin softRange__trackSize { // sass-lint:disable-line mixin-name-format
  @include softRangeTrackSize;
  @warn '@mixin softRange__trackSize is deprecated, please use softRangeTrackSize instead';
}

@mixin softRange__track__perBrowser { // sass-lint:disable-line mixin-name-format
  @include softRangeTrackPerBrowser;
  @warn '@mixin softRange__track__perBrowser is deprecated, please use softRangeTrackPerBrowser instead';
}

@mixin softRange__thumb__perBrowser { // sass-lint:disable-line mixin-name-format
  @include softRangeThumbPerBrowser;
  @warn '@mixin softRange__thumb__perBrowser is deprecated, please use softRangeThumbPerBrowser instead';
}
