.c-range-thumb {
  @include CustomControl($type: 'round');
  @include RangeThumbStyle;
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -($RangeThumbHeight / 2);
  z-index: $ZLevel2;
  pointer-events: none;

  &:focus {
    @include CustomControlFocused;
  }

  &--hasTicks {
    top: 25%;
  }
}
