.c-range-levels {
  display:         flex;
  justify-content: stretch;
  z-index:         $ZLevel0;

  position:        absolute;
  left:            0;
  right:           0;
  top:             ($FormControlHeight / 2) + 2px;

  &--hasTicks {
    top: ($FormControlHeight / 4) + 2px;
  }
}

.RangeLevel {
  display:       block;
  height:        6px;
  border-radius: 6px;
  margin:        2px;
}

// Modifier naming and colors.
$RangeLevelColors: (
                           primary: $ColorPrimary,
                           success: $ColorSuccess,
                           warning: $ColorWarning,
                           danger: $ColorDanger,
                   );

// Create level modifiers based upon the map.
@each $name, $color in $RangeLevelColors {
  .RangeLevel--#{$name} {
    background-color: transparentize($color, .7);
  }
}
