.c-range-ticks {
  position: absolute;
  left:     ($RangeThumbWidth / 2);
  right:    ($RangeThumbWidth / 2);
  top:      $SizeS;
  display:  flex;
  z-index:  $ZLevel1;
}

.c-range-ticks {
  overflow-x:    hidden;
  text-overflow: ellipsis;
  font-size:     $FontSizeXS;
  position:      relative;
  padding-top:   $Size;

  &::before {
    @include size($SizeXS);

    content:          '';
    background-color: $ColorDarkShade;
    border-radius:    100%;
    position:         absolute;
    top:              0;
    left:             calc(50% - #{($SizeXS/2)});
  }

  &--isCustom {
    position:  absolute;
    transform: translateX(-50%);
  }

  &:enabled:hover,
  &:focus,
  &--selected {
    color: $ColorPrimary;
  }

  &--selected {
    font-weight: $FontWeightMedium;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
