.c-range-label {
  &--min,
  &--max {
    font-size: $FontSizeXS;
  }

  &--min {
    margin-right: $SizeS;
  }

  &--max {
    margin-left: $SizeS;
  }

  &--isDisabled {
    opacity: $RangeDisabledOpacity;
  }
}
