.c-radio-highlight {
  position: absolute;
  left:     0;
  width:    100%;
  top:      ($FormControlHeight / 2) - 2px;
  z-index:  $ZLevel0;
  overflow: hidden;

  &__progress {
    height:           4px;
    border-radius:    4px;
    background-color: $RangeTrackColor;

    &--hasFocus {
      background-color: $ColorPrimary;
    }
  }

  &--hasTicks {
    top:  ($FormControlHeight / 4) - 2px;
    left: 0;
  }
}
