.c-range-tooltip {
  // Keeps tooltip (value) aligned to percentage of actual slider
  display:     block;
  position:    absolute;
  left:        0;
  top:         0;
  bottom:      0;
  width:       calc(100% - #{$RangeThumbWidth});
  margin-left: $RangeThumbWidth / 2;
}

.c-range-tooltip__value {
  // Indentation for legibility in transition
  // sass-lint:disable-block indentation
  @include FontSizeS;
  border:           1px solid transparentize($ColorDarkestShade, .8);
  position:         absolute;
  border-radius:    $BorderRadius;
  padding:          ($SizeXS / 2) $SizeS;
  background-color: tintOrShade($ColorFullShade, 25%, 90%);
  color:            $ColorGhost;
  max-width:        256px;
  z-index:          $ZLevel4;
  top:              ($FormControlHeight / 2) - 1px;
  transition:       box-shadow $AnimSpeedNormal $AnimSlightResistance,
                    transform $AnimSpeedNormal $AnimSlightResistance;

  // Custom sizing
  $arrowSize: $SizeM;
  $arrowMinusSize: (($arrowSize / 2) - 1px) * -1;

  &::after,
  &::before {
    content:          '';
    position:         absolute;
    bottom:           -$arrowSize / 2;
    left:             50%;
    transform-origin: center;
    background-color: tintOrShade($ColorFullShade, 25%, 90%);
    width:            $arrowSize;
    height:           $arrowSize;
    border-radius:    2px;
  }

  &::before {
    background-color: transparentize($ColorDarkestShade, .8);
  }

  // Positions the arrow
  &.c-range-tooltip__value--right {
    margin-left: $SizeL;

    &:before,
    &:after {
      left: $arrowMinusSize;
    }

    &::before {
      margin-left: -1px;
    }
  }

  &.c-range-tooltip__value--left {
    margin-right: $SizeL;

    &:before,
    &:after {
      left:  auto;
      right: $arrowMinusSize;
    }

    &::before {
      margin-right: -1px;
    }
  }

  &.c-range-tooltip__value--right,
  &.c-range-tooltip__value--left {
    transform: translateX(0) translateY(-50%);

    &:before,
    &:after {
      bottom:    50%;
      transform: translateY(50%) rotateZ(45deg);
    }
  }

  &--hasTicks {
    top: ($FormControlHeight / 4) - 1px;
  }
}
