$RangeTrackColor: $ColorDarkShade !default;
$RangeThumbRadius: 50% !default;
$RangeThumbHeight: $Size !default;
$RangeThumbWidth: $Size !default;
$RangeThumbBorderColor: $RangeTrackColor !default;
$RangeTrackWidth: 100% !default;
$RangeTrackHeight: 2px !default;
$RangeTrackBorderWidth: 0 !default;
$RangeTrackBorderColor: $RangeTrackColor !default;
$RangeTrackRadius: $BorderRadius !default;
$RangeDisabledOpacity: .25;
