$softRangeTrackColor: $softColorDarkShade !default;

$softRangeThumbRadius: 50% !default;
$softRangeThumbHeight: $softSize !default;
$softRangeThumbWidth: $softSize !default;
$softRangeThumbBorderColor: $softRangeTrackColor !default;

$softRangeTrackWidth: 100% !default;
$softRangeTrackHeight: 2px !default;
$softRangeTrackBorderWidth: 0 !default;
$softRangeTrackBorderColor: $softRangeTrackColor !default;
$softRangeTrackRadius: $softBorderRadius !default;

$softRangeDisabledOpacity: .25;
