.c-checkbox {
  position: relative;

  .c-checkbox__input {
    @include ScreenReaderOnly;

    ~ .c-checkbox__label {
      display:      block;
      padding-left: ($CheckBoxSize * 1.5);
      line-height:  $SizeL;
      font-size:    $FontSizeS;
      position:     relative;
      z-index:      2;
      cursor:       pointer;
    }

    + .c-checkbox__square {
      @include CustomControl($type: 'square', $size: $CheckBoxSize);

      display:  inline-block;
      position: absolute;
      left:     0;
      top:      (($SizeL - $CheckBoxSize) / 2) - 1px;
    }

    &:checked {
      + .c-checkbox__square {
        @include CustomControlSelected($type: 'check');
      }
    }

    &:indeterminate {
      + .c-checkbox__square {
        @include CustomControlSelected($type: 'square');
      }
    }

    &[disabled] {
      // sass-lint:disable-block no-important
      cursor: not-allowed !important;

      ~ .c-checkbox__label {
        color:  $FormControlDisabledColor;
        cursor: not-allowed !important;
      }

      + .c-checkbox__square {
        @include CustomControlDisabled;
      }
    }

    &:checked[disabled] {
      + .c-checkbox__square {
        @include CustomControlDisabled($type: 'check');
      }
    }

    &:indeterminate[disabled] {
      + .c-checkbox__square {
        @include CustomControlDisabled($type: 'dot');
      }
    }

    &:focus,
    &:active:not(:disabled) {
      + .c-checkbox__square {
        @include CustomControlFocused;
      }
    }
  }

  /**
   * 1. Float above the visual radio and match its dimension, so that when users try to click it
   *    they actually click this input.
   */

  &.c-checkbox--inList,
  &.c-checkbox--noLabel {
    min-height: $CheckBoxSize;
    min-width:  $CheckBoxSize;

    .c-checkbox__square {
      top: 0;
    }

    .c-checkbox__input {
      @include size($CheckBoxSize); /* 1 */

      position: absolute; /* 1 */
      opacity:  0; /* 1 */
      z-index:  1; /* 1 */
      margin:   0; /* 1 */
      left:     0; /* 1 */
      cursor:   pointer;
    }
  }
}
