.c-combo-box {
  @include FormControlSize(auto, $includeAlternates: true);
  position: relative;

  /**
   * 1. Allow pills to truncate their text with an ellipsis.
   * 2. Don't allow pills to overlap with the caret or clear button.
   * 3. The height on combo can be larger than normal text inputs.
   */

  &--compressed,
  .c-form-control-layout--compressed {
    height: auto;
  }

  .c-combo-box__inputWrap {
    @include FormControlStyle($includeStates: false, $includeSizes: false);
    @include FormControlWithIcon($isIconOptional: true);
    @include FormControlSize(auto, $includeAlternates: true);
    padding: $SizeXS $SizeS;
    // sass-lint:disable-block mixins-before-declarations
    @include FormControlLayoutPadding(1); /* 2 */

    display: flex; /* 1 */

    &.c-combo-box__inputWrap-isClearable {
      @include FormControlLayoutPadding(2); /* 2 */
    }

    &:not(.c-combo-box__inputWrap--noWrap) {
      padding: $SizeXS;
      height: auto;  /* 3 */
      flex-wrap: wrap; /* 1 */
      align-content: flex-start;

      &:hover {
        cursor: text;
      }
    }
  }

  /**
   * 1. Force field height to match other field heights.
   * 2. Force input height to expand to fill this element.
   * 3. Reset appearance on Safari.
   * 4. Fix react-input-autosize appearance.
   * 5. Prevent a lot of input from causing the react-input-autosize to overflow the container.
   */
  .c-combo-box__input {
    // sass-lint:disable-block no-important
    display: inline-flex !important; /* 1 */
    height: 32px; /* 2 */
    overflow: hidden; /* 5 */

    > input {
      @include Font;
      appearance: none; /* 3 */
      padding: 0;
      border: none;
      background: transparent;
      font-size: $FontSizeS;
      color: $TextColor;
      margin: $SizeXS;
      line-height: $LineHeight; /* 4 */
    }
  }

  &.c-combo-box-isOpen {
    .c-combo-box__inputWrap {
      @include FormControlFocusStyle;
    }
  }

  &.c-combo-box-isInvalid {
    .c-combo-box__inputWrap {
      @include FormControlInvalidStyle;
    }
  }

  &.c-combo-box-isDisabled {
    .c-combo-box__inputWrap {
      @include FormControlDisabledStyle;
    }
  }

  &.c-combo-box--compressed {
    .c-combo-box__inputWrap {
      line-height: $FormControlCompressedHeight; /* 2 */
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
