/**
 *  Mixin for use in:
 *  - EuiCard
 *  - EuiPageContent
*/
@mixin Panel($selector) {
  @if variable-exists(selector) == false {
    @error 'A $selector must be provided to @mixin Panel().';
  } @else {
    .#{$selector} {

      @include BottomShadowSmall;
      background-color: $ColorEmptyShade;
      border:           $BorderThin;
      border-radius:    $BorderRadius;
      flex-grow:        1;

      &.#{$selector}--flexGrowZero {
        flex-grow: 0;
      }

      &.#{$selector}--isClickable {
        // in case of button wrapper which inherently is inline-block and no width
        display:    block;
        width:      100%;
        text-align: left;

        // transition the shadow
        transition: all $AnimSpeedFast $AnimSlightResistance;

        &:hover,
        &:focus {
          @include SlightShadowHover;
          transform: translateY(-2px);
          cursor:    pointer;
        }
      }

      &.#{$selector}--shadow {
        @include BottomShadowMedium;

        @if (lightness($TextColor) < 50) {
          border-bottom-color: transparentize($ShadowColor, .5);
        } @else {
          // Applied again here in case dark theme overrides light
          border-bottom-color: $BorderColor;
        }

        &.#{$selector}--isClickable:hover,
        &.#{$selector}--isClickable:focus {
          @include BottomShadow($color: $ShadowColor, $opacity: .2);
        }
      }
    }
  }
}
