/**
 *  Mixin for use in:
 *  - EuiCard
 *  - EuiPageContent
*/
@mixin softPanel($selector) {
  @if variable-exists(selector) == false {
    @error 'A $selector must be provided to @mixin softPanel().';
  } @else {
    .#{$selector} {

      @include softBottomShadowSmall;
      background-color: $softColorEmptyShade;
      border: $softBorderThin;
      border-radius: $softBorderRadius;
      flex-grow: 1;

      &.#{$selector}--flexGrowZero {
        flex-grow: 0;
      }

      &.#{$selector}--isClickable {
        // in case of button wrapper which inherently is inline-block and no width
        display: block;
        width: 100%;
        text-align: left;

        // transition the shadow
        transition: all $softAnimSpeedFast $softAnimSlightResistance;

        &:hover,
        &:focus {
          @include softSlightShadowHover;
          transform: translateY(-2px);
          cursor: pointer;
        }
      }

      &.#{$selector}--shadow {
        @include softBottomShadowMedium;

        @if (lightness($softTextColor) < 50) {
          border-bottom-color: transparentize($softShadowColor, .5);
        } @else {
          // Applied again here in case dark theme overrides light
          border-bottom-color: $softBorderColor;
        }

        &.#{$selector}--isClickable:hover,
        &.#{$selector}--isClickable:focus {
          @include softBottomShadow($color: $softShadowColor, $opacity: .2);
        }
      }
    }
  }
}
