@import '../badgeExtend/beta_badge/mixins';

// Export basic class & modifiers
@include Panel($selector: 'Panel');

.c-panel {
  @include hasBetaBadge($selector: 'Panel');
  background: white;
}

// Specific
@each $modifier, $amount in $PanelPaddingModifiers {
  .c-panel.c-panel--#{$modifier} {
    padding: $amount;

    // Overwrite @hasBetaBadge max-width depending upon padding
    .c-panel__betaBadgeWrapper {
      max-width: calc(100% - #{$amount*2});
    }
  }
}
