.c-selectableList {
  .c-reactVirtualized__List {
    @include ScrollBar;
  }
}

// Expand height of list via flex box
.c-selectableList-fullHeight {
  flex-grow: 1;
}

.c-selectableList-bordered {
  overflow:      hidden;
  border:        $BorderThin;
  border-radius: $BorderRadius;
}

.c-selectableList-overflowing {
  @include OverflowShadow;
}

.c-selectableList__groupLabel {
  @include Title('xxxs');
  display:       flex;
  align-items:   center;
  border-bottom: $SelectableListItemBorder;
}
