.c-selectableListItem {
  @include FontSizeS;

  padding:    $SizeXS $SizeM;
  display:    block; // Necessary to make sure it doesn't force the whole popover to be too wide
  width:      100%;
  text-align: left;
  color:      $TextColor;

  &:not(:last-of-type) {
    border-bottom: $SelectableListItemBorder;
  }

  &:hover,
  &:focus {
    .c-selectableListItem__text {
      text-decoration: underline;
    }
  }

  &:focus,
  &-isFocused {
    cursor:           pointer;
    color:            $ColorPrimary;
    background-color: $FocusBackgroundColor;
  }

  &[disabled] {
    color:  $ColorMediumShade;
    cursor: not-allowed;

    &:hover {
      text-decoration: none;
    }
  }
}

.c-selectableListItem__content {
  display:     flex;
  align-items: center;
}

.c-selectableListItem__icon,
.c-selectableListItem__prepend {
  margin-right: $SizeM;
}

.c-selectableListItem__append {
  margin-left: $SizeM;
}

.c-selectableListItem__text {
  @include TextTruncate;
  flex-grow: 1; // Pushed appended content to the far right
}
