@import '../form/variables';

.c-filter-button {
  background-color: $FormBackgroundColor;
  height:           $FormControlHeight;
  width:            auto;
  border:           1px solid $FormBorderColor;
  border-right:     none;
  font-size:        $FontSizeS;

  &:disabled {
    color:          $ButtonColorDisabled;
    pointer-events: none;

    .c-filter-button__notification {
      opacity: .5;
    }
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    // Remove underline from whole button so notifications don't get the underline
    text-decoration: none;

    .c-filter-button__textShift {
      // Add put it only on the actual text part
      text-decoration: underline;
    }
  }
}

.c-filter-button-hasActiveFilters {
  font-weight: $FontWeightBold;
}

.c-filter-button--hasIcon .ButtonEmpty__content {
  justify-content: space-between;
}

.c-filter-button--withNext + .c-filter-button {
  margin-left: $SizeXS * -1;
  border-left: none;
}

.c-filter-button-isSelected {
  background-color: $ColorLightestShade;
}

.c-filter-button__text-hasNotification {
  display:     flex;
  align-items: center;
}

.c-filter-button__notification {
  margin-left:    $SizeS;
  vertical-align: text-bottom;
}

.c-filter-button__textShift {
  @include TextShift;
  @include TextTruncate;
  min-width: $Size * 3;
}
