.softFilterSelectItem {
  @include softFontSizeS;

  padding: $softSizeXS $softSizeM;
  display: block; // Necessary to make sure it doesn't force the whole popover to be too wide
  width: 100%;
  text-align: left;
  color: $softTextColor;
  border-bottom: $softBorderThin;
  border-color: darken($softColorLightestShade, 2%);

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus,
  &-isFocused {
    cursor: pointer;
    color: $softColorPrimary;
    background-color: $softFocusBackgroundColor;
  }

  &[disabled] {
    color: $softColorMediumShade;
    cursor: not-allowed;

    &:hover {
      text-decoration: none;
    }
  }
}

.softFilterSelectItem__content {
  @include softTextTruncate;
}


.softFilterSelect__items {
  @include softScrollBar;

  overflow-y: auto;
  max-height: $softSize * 30;
}

.softFilterSelect__note {
  height: $softSize * 4;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.softFilterSelect__noteContent {
  color: $softColorDarkShade;
  font-size: $softFontSizeS;
}
