.c-filter-select-item {
  @include FontSizeS;

  padding:       $SizeXS $SizeM;
  display:       block; // Necessary to make sure it doesn't force the whole popover to be too wide
  width:         100%;
  text-align:    left;
  color:         $TextColor;
  border-bottom: $BorderThin;
  border-color:  darken($ColorLightestShade, 2%);

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus,
  &-isFocused {
    cursor:           pointer;
    color:            $ColorPrimary;
    background-color: $FocusBackgroundColor;
  }

  &[disabled] {
    color:  $ColorMediumShade;
    cursor: not-allowed;

    &:hover {
      text-decoration: none;
    }
  }
}

.c-filter-select-item__content {
  @include TextTruncate;
}


.c-filter-select__items {
  @include ScrollBar;

  overflow-y: auto;
  max-height: $Size * 30;
}

.c-filter-select__note {
  height:          $Size * 4;
  text-align:      center;
  display:         flex;
  align-items:     center;
  justify-content: space-around;
}

.c-filter-select__noteContent {
  color:     $ColorDarkShade;
  font-size: $FontSizeS;
}
