@import '../form/variables';

.c-filter-group {
  display:      inline-flex;
  max-width:    100%;
  border-right: 1px solid $FormBorderColor;
  box-shadow:   0 1px 2px -1px transparentize($ShadowColor, .8), 0 3px 3px -2px transparentize($ShadowColor, .8);
  overflow-x:   auto;

  > * {
    flex:      1 1 auto;
    min-width: $Size * 3;
  }

  > .c-filter-button--noGrow {
    flex-grow: 0;
  }

  > .c-filter-button-hasNotification {
    min-width: $Size * 6;
  }

  > .c-filter-button--hasIcon {
    min-width: $Size * 8;
  }

  // Force popover anchors to expand for now
  .c-popover__anchor {
    display: block;

    .c-filter-button {
      width: 100%;
    }
  }
}

.c-filter-group--fullWidth {
  display: flex;
}

// A fixed width is required in IE11 because of the shift in widths that can be caused
// by the loading animation that precedes the results.
.c-filter-group__popoverPanel {
  width: $Size * 18;
}

@include Breakpoint('xs', 's') {
  .c-filter-group {
    flex-wrap: wrap;
  }
}

@include Breakpoint('xs') {
  // Force all tiny screens to take up the entire width
  .c-filter-group {
    display: flex;

    .c-filter-button {
      // sass-lint:disable-block no-important
      flex-grow: 1 !important;
    }
  }
}
