@mixin PopoverTitle {
  @include Title('xxs');
  padding:                 $SizeM;
  text-transform:          uppercase;
  border-bottom:           $BorderThin;

  // Subtract 1px from the border radius since it's inside another container that also has the border radius
  // -- makes for better rounded corners
  border-top-left-radius:  $BorderRadius - 1px;
  border-top-right-radius: $BorderRadius - 1px;

}

@mixin PopoverFooter {
  @include FontSizeS;
  padding:                    $SizeM;
  border-top:                 $BorderThin;

  // Subtract 1px from the border radius since it's inside another container that also has the border radius
  // -- makes for better rounded corners
  border-bottom-left-radius:  $BorderRadius - 1px;
  border-bottom-right-radius: $BorderRadius - 1px;
}
