/**
 * 1. Coerce inline form elements to behave as block-level elements.
 * 2. For inline forms, we need to add margin if the label doesn't exist.
 */
.c-form-row {
  display:        flex; /* 1 */
  flex-direction: column; /* 1 */
  max-width:      $FormMaxWidth;
  padding-bottom: $SizeS;

  + * {
    margin-top: $Size;
  }
}

.c-form-row--fullWidth {
  max-width: 100%;
}

.c-form-row--hasEmptyLabelSpace {
  margin-top:      $FontSizeXS + $SizeS; /* 2 */
  // the following ensure that contents that aren't inheritly the same height
  // as inputs will align to the vertical center
  min-height:      $SizeXXL;
  padding-bottom:  0;
  justify-content: center;
}

.c-form-row--compressed {
  + * {
    margin-top: $SizeS;
  }

  .c-form-row__text {
    padding-top: $SizeM / 2;
  }
}

.c-form-row__displayOnlyWrapper {
  min-height:  $FormControlHeight;
  display:     flex;
  align-items: center;
}
