.c-described-form-group {
  max-width: $FormMaxWidth * 2;

  + * {
    margin-top: $SizeL;
  }

  &.c-described-form-group--fullWidth {
    max-width: 100%;
  }

  .c-described-form-group__description {
    padding-top: $SizeS;
  }

  .c-described-form-group__fields {
    width:     $FormMaxWidth;
    max-width: 100%;
  }

  .c-described-form-group__fieldPadding {
    &--xxxsmall {padding-top: ($FontSizeXS * 1.5) - $FontSizeXS + 2px;}

    &--xxsmall {padding-top: ($FontSizeS * 1.5) - $FontSizeXS + 2px;}

    &--xsmall {padding-top: ($FontSize * 1.5) - $FontSizeXS + 2px;}

    &--small {padding-top: ($FontSizeL * 1.5) - $FontSizeXS + 2px;}

    &--medium {padding-top: ($FontSizeXL * 1.5) - $FontSizeXS + 2px;}

    &--large {padding-top: ($FontSizeXXL * 1.5) - $FontSizeXS + 2px;}
  }

  @include Breakpoint('xs', 's') {
    .c-described-form-group__fields {
      padding-top: 0;

      > .FormRow--hasEmptyLabelSpace:first-child {
        padding-top: 0;
      }
    }
  }
}
