/**
 * 1. Leave room for caret.
 * 2. Ensure the descenders don't get cut off
 */

.softSelect {
  @include softFormControlStyle;
  @include softFormControlWithIcon($side: 'right'); /* 1 */
  @include softFormControlIsLoading($isNextToIcon: true);

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  line-height: $softFormControlHeight; /* 2 */
  padding-top: 0; /* 2 */
  padding-bottom: 0; /* 2 */

  &--compressed {
    line-height: $softFormControlCompressedHeight; /* 2 */
    padding-top: 0; /* 2 */
    padding-bottom: 0; /* 2 */
  }

  &--inGroup {
    line-height: $softFormControlHeight - 2px; /* 2 */
  }

  &--inGroup#{&}--compressed {
    line-height: $softFormControlCompressedHeight - 2px; /* 2 */
  }

  // Turn off linter for some MS specific bits.
  // sass-lint:disable no-vendor-prefixes
  &::-ms-expand {
    display: none;
  }

  &:focus::-ms-value {
    color: $softTextColor;
    background: transparent;
  }
}
