/*
 * 1. Make popover the same width as the form control
 * 2. Style popover similar to combobox
 * 3. Use attribute selector to match popover position without needing the full popover class name
 */

.c-super-select {
  width: 100%;

  &:not(.c-super-select--fullWidth) { /* 1 */
    // sass-lint:disable-block no-important
    max-width: $FormMaxWidth !important; // override default popover styles
  }

  .c-super-select__popoverAnchor {
    display: block;
  }
}

.c-super-select__popoverPanel[class*='bottom'] { /* 3 */
  border-top-color:        transparentize($BorderColor, .2);
  border-top-right-radius: 0; /* 2 */
  border-top-left-radius:  0; /* 2 */
}

.c-super-select__popoverPanel[class*='top'] { /* 3 */
  @include BottomShadowFlat; /* 2 */

  border-bottom-color:        transparentize($BorderColor, .2);
  border-bottom-right-radius: 0; /* 2 */
  border-bottom-left-radius:  0; /* 2 */
}

.c-super-select__item {
  &:hover,
  &:focus {
    text-decoration:  none;
    background-color: $FocusBackgroundColor;
  }
}

.c-super-select__item--hasDividers:not(:last-of-type) {
  border-bottom: $BorderThin;
}
