/**
 * 1. Not always needed, but fixes an IE11 issue when flex-groups are nested under display: flex elements.
 * 2. IE requires a unit to grow.
 */

.c-flex-group {
  display:     flex;
  align-items: stretch;
  flex-grow:   1; /* 1 */

  .c-flex-item {
    @include internetExplorerOnly {
      min-width: 1px;
    }

    flex-grow:  1;
    flex-basis: 0%; /* 2 */
  }
}

$gutterTypes: (
                      gutterExtraSmall: $SizeXS,
                      gutterSmall: $SizeS,
                      gutterMedium: $Size,
                      gutterLarge: $SizeL,
                      gutterExtraLarge: $SizeXXL,
              );

// Gutter Sizes
@each $gutterName, $gutterSize in $gutterTypes {
  $halfGutterSize: $gutterSize * .5;

  .c-flex-group--#{$gutterName} {
    margin: -$halfGutterSize;

    & > .c-flex-item {
      margin: $halfGutterSize;
    }
  }
}

// Justify the grid
.c-flex-group--justifyContentSpaceEvenly {
  justify-content: space-evenly;
}

.c-flex-group--justifyContentSpaceBetween {
  justify-content: space-between;
}

.c-flex-group--justifyContentSpaceAround {
  justify-content: space-around;
}

.c-flex-group--justifyContentCenter {
  justify-content: center;
}

.c-flex-group--justifyContentFlexEnd {
  justify-content: flex-end;
}

// Align Items
.c-flex-group--alignItemsFlexStart {
  align-items: flex-start;
}

.c-flex-group--alignItemsCenter {
  align-items: center;
}

.c-flex-group--alignItemsFlexEnd {
  align-items: flex-end;
}

.c-flex-group--alignItemsBaseline {
  align-items: baseline;
}

// Direction

.c-flex-group--directionRow {
  flex-direction: row;
}

.c-flex-group--directionRowReverse {
  flex-direction: row-reverse;
}

.c-flex-group--directionColumn {
  flex-direction: column;
}

.c-flex-group--directionColumnReverse {
  flex-direction: column-reverse;
}

// Wrap
.c-flex-group--wrap {
  flex-wrap: wrap;
}

@include Breakpoint('xs', 's') {
  .c-flex-group--responsive {
    flex-wrap:    wrap;
    margin-left:  0;
    margin-right: 0;
  }
}
