.c-combo-box-option {
  font-size:    $FontSizeS;
  padding:      $SizeXS $SizeS $SizeXS #{$SizeM + $SizeXS};
  width:        100%;
  text-align:   left;
  border:       $BorderThin;
  border-color: transparent;
  display:      flex;
  align-items:  center;

  &:hover {
    text-decoration: underline;
  }

  &.c-combo-box-option-isFocused {
    cursor:           pointer;
    color:            $ColorPrimary;
    background-color: $FocusBackgroundColor;
  }

  &.c-combo-box-option-isDisabled {
    color:  $ColorMediumShade;
    cursor: not-allowed;

    &:hover {
      text-decoration: none;
    }
  }
}

.c-combo-box-option__content {
  text-overflow: ellipsis;
  overflow:      hidden;
  white-space:   nowrap;
}
