.softComboBoxOption {
  font-size: $softFontSizeS;
  padding: $softSizeXS $softSizeS $softSizeXS #{$softSizeM + $softSizeXS};
  width: 100%;
  text-align: left;
  border: $softBorderThin;
  border-color: transparent;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }

  &.softComboBoxOption-isFocused {
    cursor: pointer;
    color: $softColorPrimary;
    background-color: $softFocusBackgroundColor;
  }

  &.softComboBoxOption-isDisabled {
    color: $softColorMediumShade;
    cursor: not-allowed;

    &:hover {
      text-decoration: none;
    }
  }
}

.softComboBoxOption__content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
