.c-combo-box-placeholder {
  position: absolute;
  pointer-events: none;
  padding: 0 $SizeXS;
  line-height: $SizeXL;
  color: $ColorMediumShade;
  margin-bottom: 0 !important; // sass-lint:disable-line no-important
}
