// Overwrites the base styling of EuiBadge, to give it a larger size and margins
// that make sense in the input wrap.
.c-combo-box-pill {
  margin:         $SizeXS !important; // sass-lint:disable-line no-important
  line-height:    $SizeL - 2px;
  vertical-align: baseline;

  &--plainText {
    @include Font;
    @include TextTruncate;

    line-height:    $SizeL;
    font-size:      $FontSizeS;
    padding:        0;
    color:          $TextColor;
    vertical-align: middle;
    display:        inline-block;
  }
}
