.c-beta-badge {
  display:        inline-block;
  padding:        0 $Size;
  border-radius:  $SizeL;
  box-shadow:     inset 0 0 0 1px $BorderColor;
  vertical-align: super; // if displayed inline with text

  font-size:      $FontSizeXS;
  font-weight:    $FontWeightBold;
  text-transform: uppercase;
  letter-spacing: .05em;
  line-height:    $SizeL;
  text-align:     center;
  white-space:    nowrap;

  cursor:         default;

  // When it's just an icon, make it a circle
  &.c-beta-badge--iconOnly {
    padding: 0;
    width:   $SizeL;

    .c-beta-badge__icon {
      position:   relative;
      margin-top: -1px;
    }
  }
}
